body {
    background: url(img/img1.jpg);
}

#mapa {
    display: block;
    width: 22rem;
    height: 22rem;
    margin-left: 28rem;
}

.dondeestamos {
    display: block;
    margin-left: 31rem;
    font-size: 2rem;
}

a {
    color: #222;
}

a:hover {
    text-decoration: none;
    color: #27ae60;
    letter-spacing: 1px;
    transition: all 300ms;
}
